.datagrid-header-row td{background-color:#3498db;color:#fff;text-align:center}
.fixed-table-header div{background-color:#3498db;color:#fff;text-align:center}
.sel_btn {
    height: 20px;
    line-height: 20px;
    padding: 0 11px;
    border-radius: 8px;
    display: inline-block;
    font-size: 12px;
    outline: none;
    color: #fdffff;
}
.ch_cls {
    background: #3498db;
}
.search-label { display: inline-block; min-width: 60px; text-align: right; font-weight: bold; padding-left: 5px; }
.search-row { margin: 2px 0; }
.search-row .form-group { display: inline-block; }
.search-row .form-group.form-checkbox { width: 228px; text-align: right; user-select: none; }
.dialog table th, .dialog table td { padding: 3px 2px; }

div .panel-fit {
    height: auto !important;
}
.l-btn-icon-left .l-btn-icon.fa { line-height: 16px !important;}
.toolButton{
    margin-left:2px;margin-top:2px;float:left; height:22px;text-decoration: none;
}
.toolButton .l-btn-text{
    line-height: 22px;
}