<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myhr.hr.mapper.ColumnFieldMapper">
    <update id="updateColumnFieldTemplateUser">
        update sys_column_field_template_user
        <set>
            <if test="columnFieldIds != null and columnFieldIds != ''">
                column_field_ids = #{columnFieldIds},
            </if>
            <if test="templateName != null and templateName != ''">
                template_name = #{templateName},
            </if>
            <if test="isDefaultShow != null ">
                is_default_show = #{isDefaultShow},
            </if>
            <if test="updateTime != null ">
                update_time = #{updateTime},
            </if>
            <if test="updateUser != null ">
                update_user = #{updateUser},
            </if>
        </set>
        WHERE id = #{id}
    </update>
    <update id="updateNeedNotDefaultShow">
        UPDATE sys_column_field_template_user
        set is_default_show = 0
        WHERE id != #{id} and user_id = #{userId} and field_type = #{fieldType}
    </update>

    <select id="queryColumnFieldTemplateUserById" resultType="com.myhr.hr.model.ColumnFieldTemplateUserDto">
        SELECT
            id as id,
            user_id as userId,
            field_type as fieldType,
            template_name as templateName,
            is_default_show as isDefaultShow,
            column_field_ids as columnFieldIds
        FROM sys_column_field_template_user
        WHERE id = #{id}
    </select>

    <select id="queryColumnFieldTemplateUser" resultType="com.myhr.hr.model.ColumnFieldTemplateUserDto">
        SELECT
        id as id,
        user_id as userId,
        field_type as fieldType,
        template_name as templateName,
        is_default_show as isDefaultShow,
        column_field_ids as columnFieldIds
        FROM sys_column_field_template_user
        WHERE field_type = #{fieldType}
        <if test="allFlag != null and allFlag == 0">
            and user_id = #{userId}
        </if>
        <if test="allFlag != 0">
            and (user_id = #{userId} or user_id = 0)
        </if>
    </select>
    <select id="queryUserColumnField" resultType="com.myhr.hr.model.ColumnFieldDto">
        SELECT
            id as id,
            field as field,
            name as name,
            field_type as fieldType
        FROM sys_column_field
        WHERE id in
        <foreach collection="columnFieldIdList" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        and deleted = 0
    </select>
    <select id="queryAllColumnFiledType" resultType="com.myhr.hr.model.ColumnFieldTypeDto">
        SELECT
            id as id,
            field_type_name as fieldTypeName,
            field_code as field_code
        FROM sys_column_field_type
        <where>
            deleted = 0
        </where>
        ORDER BY id asc

    </select>
    <select id="queryAllColumnFiled" resultType="com.myhr.hr.model.ColumnFieldDto">
        SELECT
        id as id,
        field as field,
        name as name,
        field_type as field_type
        FROM sys_column_field
        <where>
            deleted = 0
        </where>
        ORDER BY sort_number asc
    </select>
    <select id="getSameNameOfTemplate" resultType="java.lang.Integer">
        SELECT count(1)
        FROM sys_column_field_template_user
        WHERE id != #{id} and template_name = #{templateName}
    </select>

</mapper>