<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myhr.hr.mapper.JobMapper">

    <sql id="sql_where_job">
        <where>
            <if test="jobId != null ">
                and j.job_id like CONCAT('%', #{jobId}, '%')
            </if>
            <if test="jobName != null and jobName != ''">
                and j.job_name like CONCAT('%', #{jobName}, '%')
            </if>
            <if test="status!=null and status==1">
                <![CDATA[ and j.start_date<=#{queryDate} and j.end_date>=#{queryDate}]]>
            </if>
            <if test="status!=null and status==2">
                <![CDATA[ and (j.end_date < #{queryDate} or j.start_date > #{queryDate}) ]]>
            </if>
            and j.deleted = 0
        </where>
    </sql>
    <insert id="insertJob" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO org_job (
            job_id,
            job_name,
            job_name_id,
            headcount,
            start_date,
            end_date,
            create_user,
            create_time
        )(
            SELECT
                (max(job_id) + 1) job_id,
                #{jobName} job_name,
                #{jobNameId} job_name_id,
                #{headcount} headcount,
                #{startDate} start_date,
                #{endDate} start_date,
                #{createUser} create_user,
                #{createTime} create_time
            FROM
                org_job
        )

    </insert>
    <insert id="insertJobWithJobId">
        insert into org_job (
          job_id,
          job_name,
          job_name_id,
          headcount,
          start_date,
          end_date,
          create_user,
          create_time
        ) values
        (
        #{jobId},#{jobName},#{jobNameId},#{headcount},#{startDate},#{endDate},#{createUser},#{createTime}
        )
    </insert>
    <update id="updateJob">
        UPDATE org_job
        <set>
            <if test="jobId != null">
                job_id = #{jobId},
            </if>
            <if test="jobName != null and jobName != ''">
                job_name = #{jobName},
            </if>
            <if test="jobNameId != null">
                job_name_id = #{jobNameId},
            </if>
            <if test="headcount != null">
                headcount = #{headcount},
            </if>
            <if test="startDate != null and startDate != ''">
                start_date = #{startDate},
            </if>
            <if test="endDate != null and endDate != ''">
                end_date = #{endDate},
            </if>
            <if test="deleted != null">
                deleted = #{deleted},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="queryJobPageCount" resultType="java.lang.Long">
        select
            count(1)
        from org_job j
        <include refid="sql_where_job"/>

    </select>
    <select id="queryJobPageList" resultType="com.myhr.hr.model.JobDto">
        select
          j.id as id,
          j.job_id as jobId,
          j.job_name as jobName,
          j.job_name_id as jobNameId,
          j.headcount as headcount,
          j.start_date as startDate,
          j.end_date as endDate
        from org_job j
        <include refid="sql_where_job"/>
        order by j.create_time desc
        <if test="page !=null ">
            limit #{start} , #{rows}
        </if>

    </select>
    <select id="querySameJobCount" resultType="java.lang.Integer">
        SELECT count(1)
        FROM org_job
        <where>
            <if test="id != null">
                id != #{id}
            </if>
            <if test="jobId != null">
                and job_id = #{jobId}
            </if>
            <if test="endDate != null">
                <![CDATA[ and start_date <= #{endDate} ]]>
            </if>
            <if test="startDate != null">
                and end_date >= #{startDate}
            </if>
        </where>
    </select>
    <select id="queryJobById" resultType="com.myhr.hr.model.JobDto">
        select
            j.id as id,
            j.job_id as jobId,
            j.job_name as jobName,
            j.job_name_id as jobNameId,
            j.headcount as headcount,
            j.start_date as startDate,
            j.end_date as endDate
        from org_job j
        WHERE j.id = #{id}
    </select>
</mapper>
