<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myhr.hr.mapper.RoleMapper">
    <sql id="sql_column">
        r.id id,
        r.role_code roleCode,
        r.role_name roleName,
        r.status status,
        r.remark remark,
        r.deleted deleted
    </sql>
    <sql id="sql_where">
        <where>
            r.deleted = 0
            <if test="roleCode !=null and roleCode!=''">
                and r.role_code like CONCAT('%',#{roleCode},'%')
            </if>
            <if test="roleName !=null and roleName!=''">
                and r.role_name like CONCAT('%',#{roleName},'%')
            </if>
            <if test="status !=null and status != 0">
                and r.status = #{status}
            </if>
        </where>
    </sql>
    <sql id="sql_order">
        <if test="sort == null and order == null ">
            ORDER BY r.id asc
        </if>
        <if test="sort !=null and order!=null">
            ORDER BY r.${sort} ${order}
        </if>
    </sql>
    <insert id="addRole">
        INSERT INTO sys_auth_role (
            role_code,
            role_name,
            status,
            remark,
            create_user
        )VALUES (
            #{roleCode}, #{roleName}, 1, #{remark}, #{createUser}
        )
    </insert>


    <update id="updateRole">
        UPDATE sys_auth_role
        <set>
            update_time = #{updateTime},
            <if test="roleCode != null and roleCode != ''">
                role_code = #{roleCode},
            </if>
            <if test="roleName != null and roleName != ''">
                role_name = #{roleName},
            </if>
            <if test="remark != null ">
                `remark` = #{remark},
            </if>
            <if test="status != null ">
                status = #{status},
            </if>
            <if test="deleted != null ">
                deleted = #{deleted},
            </if>
            <if test="updateUser != null ">
                update_user = #{updateUser},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="getRolePageList" resultType="com.myhr.hr.model.RoleDto">
        SELECT
        <include refid="sql_column"/>
        FROM sys_auth_role r
        <include refid="sql_where"/>
        <include refid="sql_order"/>
        <if test="page !=null ">
            limit #{start} , #{rows}
        </if>
    </select>
    <select id="getRolePageCount" resultType="java.lang.Long">
        SELECT count(1)
        FROM sys_auth_role r
        <include refid="sql_where"/>
    </select>
    <select id="getRoleList" resultType="com.myhr.hr.model.RoleDto">
        SELECT
        <include refid="sql_column"/>
        FROM sys_auth_role r
        WHERE r.deleted = 0 and r.status = 1
    </select>
    <select id="queryRoleColumnFiled" resultType="com.myhr.hr.model.ColumnFieldDto">
        SELECT
            r.role_id as roleId,
            r.column_field_id as columnFieldId,
            f.field_type as fieldType,
            f.id as id,
            f.field as field,
            f.name as name
        FROM sys_auth_role_field r
        LEFT JOIN sys_column_field f ON r.column_field_id = f.id
        WHERE r.role_id = #{roleId}
        and r.deleted = 0 and f.deleted = 0
    </select>
    <select id="queryUserRoleColumnFiledList" resultType="com.myhr.hr.model.ColumnFieldDto">
        SELECT
            DISTINCT
            f.column_field_id as id,
            d.field as field,
            d.`name` as name,
            d.field_type as fieldType
        FROM
            sys_auth_user_role r
            LEFT JOIN sys_auth_role_field f on r.role_id = f.role_id and f.deleted = 0
            LEFT JOIN sys_column_field d ON f.column_field_id = d.id and d.deleted = 0
        WHERE
            r.user_id = #{userId}
            AND r.deleted = 0 and f.column_field_id is not NULL
            and d.field_type = #{fieldType}
        ORDER BY f.column_field_id asc
    </select>
    <select id="getAllAuthRole" resultType="com.myhr.auth.AuthRole">
        select
            r.id as applicationRoleKey,
            r.role_name as name,
            r.role_code as code,
            r.status as status
        from sys_auth_role r
        WHERE r.deleted = 0
    </select>

    <insert id="insertBatchAuthRoleField">
        insert into sys_auth_role_field  (
        role_id,
        column_field_id,
        create_user,
        create_time
        )
        values
        <foreach collection = "authRoleFieldDto.addArray" index="index" item="item" separator=",">
            (
            #{authRoleFieldDto.roleId},
            #{item},
            #{authRoleFieldDto.createUser},
            #{authRoleFieldDto.createTime}
            )
        </foreach>

    </insert>

    <update id="updateBatchAuthRoleField">
        UPDATE sys_auth_role_field
        set deleted = 1,
        update_user = #{authRoleFieldDto.updateUser},
        update_time = #{authRoleFieldDto.updateTime}
        where role_id = #{authRoleFieldDto.roleId}
        and column_field_id in
        <foreach collection="authRoleFieldDto.deductArray" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        and deleted = 0
    </update>

</mapper>