<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myhr.hr.mapper.UserMapper">

    <select id="getUserByMap" resultType="com.myhr.hr.vo.UserVo">
        select
        u.id as id,
        u.id as userId,
        u.user_name as userName,
        u.login_name as loginName
        FROM user u
        WHERE u.login_name = #{loginName}
    </select>
    <select id="queryUserById" resultType="com.myhr.hr.model.UserDto">
        select
        u.id as id,
        u.user_name as userName,
        u.login_name as loginName
        FROM user u
        WHERE u.id = #{userId}
    </select>
    
    
    <sql id="sql_where_UserAccount">
        <where>
            <if test="userId != null ">
                and u.id = #{userId}
            </if>
            <if test="userName != null and userName != ''">
                and u.user_name like CONCAT('%', #{userName}, '%')
            </if>
            <if test="loginName != null and loginName != ''">
                and u.login_name like  CONCAT('%', #{loginName}, '%')
            </if>
            and u.status = 1
        </where>
    </sql>
    <select id="getUserAccountPageCount" resultType="java.lang.Long">
        select
        count(1)
        from user u
        <include refid="sql_where_UserAccount"/>
    </select>
    <select id="getUserAccountPageList" resultType="com.myhr.hr.model.UserRoleDto">
        select
        u.id as userId,
        u.user_name as userName,
        u.login_name as loginName
        FROM user u
        <include refid="sql_where_UserAccount"/>
        <if test="page !=null ">
            limit #{start} , #{rows}
        </if>
    </select>


    <sql id="sql_where_userInfo">
        <where>
            <if test="userId != null ">
                and u.id = #{userId}
            </if>
            <if test="userName != null and userName != ''">
                and u.user_name like CONCAT('%', #{userName}, '%')
            </if>
            <if test="loginName != null and loginName != ''">
                and u.login_name like  CONCAT('%', #{loginName}, '%')
            </if>
        </where>
    </sql>
    <select id="getUserInfoPageCount" resultType="java.lang.Long">
        select
        count(1)
        from user u
        <include refid="sql_where_userInfo"/>
    </select>
    <select id="getUserInfoPageList" resultType="com.myhr.hr.model.UserDto">
        select
        u.id as id,
        u.user_name as userName,
        u.login_name as loginName,
        u.company_email as companyEmail,
        u.work_place as workPlace,
        u.staff_type as staffType
        FROM user u
        <include refid="sql_where_userInfo"/>
        <if test="page !=null ">
            limit #{start} , #{rows}
        </if>
    </select>
</mapper>
